<%- include('partials/header.ejs')%>
  <!--Para incluir partes de outro documento(usando quando a parte externa e reutilizada em outros códigos) -->

  <body>
    <%- include('partials/navbar.ejs')%>
      <div class="container">
        <hr>
        <h1 class="CorBrancaTX">Perguntas</h1>
        <hr>
        <a href="/perguntar" class="btn" id="corBotao">Tirar dúvidas</a>
        <% titulosHomePage.forEach(perguntas=> { %>
          <br>
          <div class="card" id='form-pergunta'>
            <div class="card-body">
              <h3 id="retornoDoBanco">
                <%= perguntas.titulo %>
              </h3>
            </div>
            <div class="card-footer">
              <a href="/pergunta/<%= perguntas.id%>"><button class="corBotao" class="btn">Responder</button></a>
            </div>
          </div>
          <% }) %>


      </div>
  </body>
  <%- include('partials/footer.ejs')%>